PORT=3002
FB_VERIFY_TOKEN=e09bb1f89051650f1ab88afe4f9d402f
GITLAB_TOKEN=
JWT_SECRET=secret
JWT_SECRET_DURATION=86400000
ME_CONFIG_BASICAUTH_PASSWORD=gtf
ME_CONFIG_MONGODB_ADMINPASSWORD=tmd
ME_CONFIG_MONGODB_ADMINUSERNAME=tmd
ME_CONFIG_MONGODB_AUTH_DATABASE=tmd
ME_CONFIG_MONGODB_URL=mongodb://tmd:tmd@ds137089.mlab.com:37089/tmd
NODE_ENV=development
SHARED_WORKER_REPO=https://github.com/javimosch/wrapkend-shared-worker.git